p,
div {
  font-size: 20px;
}

.Accordion {
  background-color: "white";
  padding: "5px 20px";
  color: "black";
  margin-bottom: "20px";
}

.accordionBtn {
  font-size: "23px";
  height: "35px";
  border-color: "#00f";
  border-radius: "5px";
  background-color: "#ddf";
}

.accordionBody {
  font-weight: 400;
  padding: "10px 0px";
}
